<div class="{{class}}__input">
    <label for="{{name}}">{{label}}</label>
    <input
        type="{{type}}"
        name="{{name}}"
        id="{{name}}"
        {{#if value}}
        value="{{value}}"
        {{/if}}
        {{#if disabled}}
            disabled
        {{/if}}
        {{#if accept}}
            accept="{{accept}}"
        {{/if}}
        placeholder=" "
    />
    {{#if errorText}}
        <span>{{errorText}}</span>
    {{/if}}
</div>
