<div class="{{class}}__input">
	<label for="{{name}}">{{label}}</label>
	<input
        type="{{type}}"
        name="{{name}}"
        id="{{name}}"
        value="{{value}}"
        {{#if disabled}}
            disabled
        {{/if}}
    />
</div>