<aside class="chat__aside">
    <button type="button" class="add-chat" id="addChat" title="Создать чат">
        <span class="cross" id="addChat"></span>
    </button>
    {{{link}}}
    <input type="text" placeholder="Поиск"/>
    <nav>
        <ul class="side-ul">
            {{#each chats}}
                <li>
                    <div class="side-massage{{#if
                        this.selected}} selected{{/if}}"
                         id="selectChat_{{this.id}}">
                        <div class="avatar-wrapper">
                            {{#if this.last_message.user.avatar}}
                                <img
                                    class="massages-avatar"
                                    src="https://ya-praktikum.tech/api/v2/resources/{{this.last_message.user.avatar}}"
                                    alt="Аватар пользователя"
                                />
                            {{/if}}
                        </div>
                        <div>
                            <h3 class="name">{{this.title}}</h3>
                            <p class="massage">
                                {{#if this.last_message.isMy}}
                                    <span>Вы: </span>{{/if}}
                                {{this.last_message.content}}
                            </p>
                        </div>
                        <p class="time">{{this.last_message.time}}</p>
                        {{#if this.unread_count}}
                            <p class="count">{{this.unread_count}}</p>{{/if}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </nav>
</aside>
<section class="chat__section">
    <div class="chat-user">
        <div class="avatar-wrapper">
            {{#if currentChat.avatarLink}}
                <img class="" src="{{currentChat.avatarLink}}"
                     alt="Аватар пользователя"/>
            {{/if}}
        </div>
        <h3 class="name">{{currentChat.name}}</h3>
        <button class="more" id="buttonOpenPopup">
            <span class="dot" id="buttonOpenPopup"></span>
            <span class="dot" id="buttonOpenPopup"></span>
            <span class="dot" id="buttonOpenPopup"></span>
        </button>
        <ul class="more-block{{#if
            isOpenChatUsersPopup}} more-block_opened{{/if}}">
            <li id="addUser">
                <button type="button" class="more-block__add" id="addUser">
                    <span class="cross"></span>
                    Добавить пользователя
                </button>
            </li>
            <li id="removeUser">
                <button type="button" class="more-block__remove"
                        id="removeUser">
                    <span class="remove"></span>
                    Удалить пользователя
                </button>
            </li>
        </ul>
    </div>
    <ul class="chat-board">
        {{#each currentChat.messages}}
            <li>
                {{#if this.day}}
                    <h5>{{this.day}}</h5>
                {{/if}}
                <div class="message{{#if this.isMy}} right{{/if}} {{#if
                    file}} attached{{/if}}">
                    <p>{{this.content}}</p>
                    {{#if file}}
                        <img class="attach" src="{{file}}" alt="attach"/>
                    {{/if}}
                    <span class="time{{#if this.isMy}}{{#if
                        this.is_read}} read{{else}} unread{{/if}}{{/if}}">
                        {{time}}
                    </span>
                </div>
            </li>
        {{/each}}
    </ul>
    <form class="new-message" name="new-message" id="newMessage">
        {{#if error}}<span class="error">{{error}}</span>{{/if}}
        <button class="attach" type="button"
                id="buttonOpenAttachPopup"></button>
        <ul class="attach-block{{#if
            isOpenAttachPopup}} attach-block_opened{{/if}}">
            <li id="addImage">
                <button class="attach-block__image" type="button">
                    <span class="photo"></span>
                    Фото
                </button>
            </li>
            <li id="addFile">
                <button class="attach-block__file" type="button">
                    <span class="file"></span>
                    Файл
                </button>
            </li>
            <li id="addLocation">
                <button class="attach-block__location" type="button">
                    <span class="location"></span>
                    Локация
                </button>
            </li>
        </ul>
        <input class="chat-input" type="text" placeholder="Сообщение"
               name="message" id="message"/>
        <button class="submit-button" type="submit"
                {{#if isDisabledFormMessage}}disabled{{/if}}></button>
    </form>
</section>
{{{ popupAddUser }}}
{{{ popupRemoveUser }}}
{{{ popupAddChat }}}
{{{ toolTip }}}
