    <aside class="chat__aside">
        {{{link}}}
        <input type="text" placeholder="Поиск" />
        <nav>
            <ul>
                {{#each massages}}
                    <li>
                        <div class="side-massage{{#if selected}} selected{{/if}} ">
                            <div class="avatar-wrapper">
                                {{#if this.avatarLink}}
                                    <img
                                        class="massages-avatar"
                                        src="{{this.avatarLink}}"
                                        alt="Аватар пользователя"
                                    />
                                {{/if}}
                            </div>
                            <div>
                                <h3 class="name">{{name}}</h3>
                                <p class="massage">
                                    {{#if my}}<span>Вы: </span>{{/if}}
                                    {{text}}
                                </p>
                            </div>
                            <p class="time">{{time}}</p>
                            {{#if count}}<p class="count">{{count}}</p>{{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </nav>
    </aside>
    <section class="chat__section">
        <div class="chat-user">
            <div class="avatar-wrapper"></div>
            <h3 class="name">{{name}}</h3>
            <button class="more">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </button>
            <div class="more-block">
                <button class="more-block__add" type="button">
                    <span class="cross"></span>
                    Добавить пользователя
                </button>
                <button class="more-block__delete" type="button">
                    <span class="cross"></span>
                    Удалить пользователя
                </button>
            </div>
        </div>
        <ul class="chat-board">
            {{#each massage}}
                <li>
                    {{#if day}}
                        <h5>{{day}}</h5>
                    {{/if}}
                    <div class="message{{#if my}} right{{/if}} {{#if attach}} attached{{/if}}">
                        <p>{{text}}</p>
                        {{#if attach}}
                            <img class="attach" src="{{attach}}" alt="attach"/>
                        {{/if}}
                        <span class="time{{#if my}}{{#if read}} read{{else}} unread{{/if}}{{/if}}">
                            {{time}}
                        </span>
                    </div>
                </li>
            {{/each}}
        </ul>
        <div class="attach-block">
            <button class="attach-block__image" type="button">
                <span class="photo"></span>
                Фото или Видео
            </button>
            <button class="attach-block__file" type="button">
                <span class="file"></span>
                Файл
            </button>
            <button class="attach-block__location" type="button">
                <span class="location"></span>
                Локация
            </button>
        </div>
        <form class="new-message" name="new-message">
            <button class="attach" type="button"></button>
            <input class="chat-input" type="text" placeholder="Сообщение" name="message" id="message" />
            <button class="submit-button" type="submit"></button>
        </form>
    </section>
