<aside class="profile__aside">
    <button type="reset" class="btn-back">
    </button>
</aside>
<section class="profile">
    {{{avatar}}}
    {{{title}}}
    <form class="profile__form">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirst}}}
        {{{inputSecond}}}
        {{{inputDisplayName}}}
        {{{inputPhone}}}
        {{{button}}}
    </form>
    {{{linkChangeData}}}
    {{{linkChangePass}}}
    {{{linkExit}}}
</section>
{{{ popup }}}
